<div class="Dropdown js-Dropdown">
  <div class="Dropdown-toggle js-Dropdown-toggle">
    <%= yield :dropdown_toggle %>
  </div>
  <div class="Dropdown-menu js-Dropdown-menu">
    <%= yield :dropdown_menu %>
    <div class="Dropdown-menu-arrow"></div>
  </div>
</div>
