---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.1&cacheid=&channel=rc&confirmationNumber=ABC123&confirmationNumberFirstName=Fuu&confirmationNumberLastName=Bar&creditCardDepartureDate=03%2F11%2F2015&creditCardFirstName=&creditCardLastName=&platform=iPhone&searchType=ConfirmationNumber&serviceID=viewAirReservation&submitButton=Continue
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lastName":"Bar","confirmNumber":"ABC123","viewAirReservation_url":"https://www.southwest.com/flight/view-air-reservation.html?int=","httpStatusCode":200,"itinerarylist":[],"hiddendetails":[{"name":"returnUrl","value":"/flight/view-air-reservation.html?int="},{"name":"returnUrlForMaritz","value":""},{"name":"_rememberMe","value":"on"}],"viewAirReservation_hiddenjson":"{}","tripHeader":"","opstatus":"-123","tempupComingInfo":[],"firstName":"Fuu","errmsg":"We
        were unable to retrieve your reservation from our database. Verify the following:
        The confirmation number is entered correctly.The passenger name on the reservation
        is entered correctly.The reservation was purchased online via southwest.com
        or swabiz.com or mobile.southwest.com or Southwest Vacations. Purchases made
        through Southwest Groups, Southwest ticket counters, or other Travel Agencies
        cannot be accessed on southwest.com.If you have questions or require further
        assistance, please contact a Southwest Airlines Customer Representative at
        1-800-I-FLY-SWA (1-800-435-9792).  (SW107023-2sYVT5evS1m3fxm59AH5uQ)","carInfo":[]}'
  recorded_at: Wed, 11 Mar 2015 22:02:01 GMT
recorded_with: VCR 2.9.3
