---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.1&cacheid=&channel=rc&platform=iPhone&serviceID=getTravelInfo
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errmsg_firstserviceforcookie":"","RRLoginInfoText":"You will remain
        logged in even after closing the app unless you log out.","ChangeAirReturnUrl":"/flight/select-new-flight.html","idleTimeOutMessage":"Your
        session has expired. Please start the activity from the beginning.","idleTimeOutValue":"15","OMNI_REPORT_SERVER":"smetrics.southwest.com","EMERGENCY_CONTACT_FIRST_NAME_MESSAGE":"The
        Emergency Contact name is invalid, please enter a valid Emergency Contact
        name.","SAVE_AS_FREQ_TRIP_CONFIG_MSG":"Please Log in to your account to continue
        the operation","OMNI_CURRENCY_CODE":"USD","RESTRICTED_FORMS":"frmAdvisoryList,frmAdvisoryDetails,frmDingCancel,frmDingCancelConfirm,frmDingCityDetails,frmDingCitylist,frmDingLanding,frmDingOfferAirports,frmDingPlanTrip,frmDingRegister,frmDingUpdate,frmContactUs","httpStatusCode":200,"PROMOTION_FORMS":"frmSearchFlights,frmSelectDepFlight,frmSelectRetFlight,frmSeniorDepFlight,frmSeniorRetFlight,frmPriceItinerary,frmNewPrice,frmPassenger,frmPassengerEight,frmPassengerFive,frmPassengerFour,frmPassengerSeven,frmPassengerSix,frmPassengerThree,frmPassengerTwo,frmPurchase","OMNI_REPORT_SUITID":"swaprod","opstatus_getState_new":0,"LOOKUP_VALID_ENDDATE":"3","IS_PASS_BOOK_VISIBLE":"true","IS_LOOKUP_VALID_ENDDATE_REQ":"true","PointsLogoutMessage":"You
        will not be able to proceed with points booking as Guest.Please click Cancel
        to continue or OK to logout.","OMNI_SSL":"true","LOGIN_ENTRY_MESSAGE":"Log
        into your account to manage your upcoming flights","opstatus_getTravelAdvisories_new":0,"environment":"PROD","EVAR18":"{\"WannaGetAway\":[{\"fareClass\":\"wannaGetAway\",\"OW_fareType\":\"B\",\"RT_fareType\":\"L\"}],\"AnyTime\":[{\"fareClass\":\"anytime\",\"OW_fareType\":\"Y\",\"RT_fareType\":\"Y\"}],\"BusinessSelect\":[{\"fareClass\":\"businessSelect\",\"OW_fareType\":\"K\",\"RT_fareType\":\"K\"}],\"Senior\":[{\"fareClass\":\"senior\",\"OW_fareType\":\"Q\",\"RT_fareType\":\"Q\"}],\"Ding\":[{\"fareClass\":\"ding\",\"OW_fareType\":\"D\",\"RT_fareType\":\"D\"}]}","UPCOMINGTRIPS_CANCEL_TIMER_IN_SEC":"12","unsupportedphoneno":"18004359792","EarlyBirdReturnUrl":"/flight/early-bird-choose-flight.html","AirtranChangeAirText":"Itineraries
        purchased on airtran.com cannot be changed on southwest.com.","opstatus_firstserviceforcookie":0,"Session_Home":"1800","EnrollmentUpdatetext":"Enter
        the information below to update your account.","copyrightmessage":"&#169;2015
        Southwest Airlines Co. All Rights Reserved","SWASuite":"swamobile","TOGGLE_PROJ_HERO":"true","firstserviceforcookie_url":"https://www.southwest.com/","state":"green","IdleTimeOut_NonLoggedInText":"Please
        verify your information to complete the purchase using your profile.","AirtranRRLoginPageText":"A+
        accounts cannot be used.","appState":"green","IsBBNavigateToTC":"true","confirmationNumberText":"The
        confirmation number entered is invalid. Southwest Airlines confirmation numbers
        contain six alpha-numeric characters. (SW301005)","AirtranCancelAirText":"AirTran
        confirmation number cannot be used.","TERMS_CONDIITONS_URL":"http://www.southwest.com/html/about-southwest/terms-and-conditions/index.html?int=GFOOTER-BOTTOM-TERMS","AirtranFlightStatusText":"Flight
        status information is only available for flights within the US.","EMERGENCY_CONTACT_NUMBER_MESSAGE":"The
        Emergency Contact Phone Number is invalid, please enter a valid Phone Number.","omni_url":"southwestairlines.112.2o7.net/b/ss/","travel_alerts":[],"opstatus":0,"AirtranFlightSchedulesText":"Flight
        schedules are only available for flights within U.S.","updateMessage":"","confirmationNumberLength":"6","RRLoginEnrollText":"With
        a Southwest Account, you can view and manage your upcoming trips, store travel
        preferences to make future booking easier, and even enroll in Rapid Rewards
        in order to start earning points to use towards reward travel.","IS_CONTEXTUAL_VISIBLE":"true","CarReturnUrl":"/reservations/price-reservations.html","ThinClient_Url":"http://mobile.southwest.com","LINK_LEARN_MORE":"http://www.southwest.com/heart?src=LinkMobileWeb_hero","OMNI_DEBUG_TRACKING":"true","BookAirReturnUrl":"/reservations/price-reservations.html","needUpgrade":"false","unsupportedcalltext":"CALL
        1-800-I-FLY-SWA"}'
  recorded_at: Mon, 09 Feb 2015 01:00:12 GMT
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.1&cacheid=&channel=rc&platform=iPhone&serviceID=checkIntravelAlerts
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"httpStatusCode":200,"appState":"green","state":"green","travel_alerts":[{"travel_alert_link":"/html/advisories/swa_travel_advisory_2015171423321412931.html","travel_alert_text":"Winter
        Storm Marcus"}],"opstatus":0}'
  recorded_at: Mon, 09 Feb 2015 01:00:15 GMT
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&firstName=Fuu&lastName=Bar&platform=iPhone&recordLocator=ABC123&serviceID=flightcheckin_new
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"requirementName":"Continue","returnUrl":"/flight/selectPrintDocument.html?disc=pdc:6B3DDCC984764A1A908EE626603658D7&int=","interMsg":"","NOUSE":[],"form_input":[{"name":"checkinPassengers[0].selected","value":"true"}],"hazmatnoteContent":"Federal
        law forbids the carriage of hazardous materials such as aerosols, fireworks,
        lithium batteries and flammable liquids aboard the aircraft in your checked
        or carryon baggage.","hazViewMoreLinkContent3b":"Paints, light fluid, fireworks,
        self-defense sprays, oxygen bottles and radio-pharmaceuticals. There are special
        exceptions for small quantities (up to 70 ounces total) of medicinal and toilet
        articles carried in your luggage and certain smoking materials carried on
        your person.","title":"Southwest Airlines - Checkin Online and Print Boarding
        Passes","CODA_FLOW":"false","hazViewMoreLinkContent3a":"EXAMPLES:","CODA_PNR":"false","DepartureTime":"05:30
        PM","errmsg":"","hazardNoteTitle":"Transportation of hazardous materials","hazViewMoreLinkContent4LinkText":"FAQ","httpStatusCode":200,"hazViewMoreLinkContent4":"If
        you have more questions regarding items acceptable for travel, visit our","hazmatnoteContentBold":"By
        clicking \"Check In\", you acknowledge that you understand the hazardous materials
        restrictions and penalties.","hazViewMore":"<b>Certain items, if brought onboard,
        must be transported in your carry-on luggage.<\/b><\/br>  For example, spare
        lithium batteries for portable electronic devices and cigarette lighters must
        be removed from checked or gate-checked baggage and carried onboard the aircraft.<\/br><\/br>Federal
        laws forbids the carriage of hazardous materials aboard aircraft, in your
        luggage or on your person. A violation can result in 5 years imprisonment
        and penalties of $250,000 or more (49 U.S.C. 5124). Hazardous materials include
        explosives, compressed gases, flammable liquids and solids, oxidizers, poisons,
        corrosives and radioactive materials.<\/br><\/br>EXAMPLES:<\/br>Paints, light
        fluid, fireworks, self-defense sprays, oxygen bottles and radio-pharmaceuticals.
        There are special exceptions for small quantities (up to 70 ounces total)
        of medicinal and toilet articles carried in your luggage and certain smoking
        materials carried on your person.<\/br><\/br>If you have more questions regarding
        items acceptable for travel, visit our <a href=''http://www.southwest.com/html/customer-service/baggage/special-luggage-pol.html''target=''_blank''>FAQ<\/a>.","hazmatnoteLinkText":"View
        more details","returnOperator":[],"continueText":"Check In","opstatus":0,"interimTitle":"Important
        Reminder for International Travelers","hazmatnoteTitle":"Transportation of
        hazardous materials","operator":"WN","NOUSE2":[],"flightcheckin_url":"https://www.southwest.com/flight/selectPrintDocument.html?disc=pdc%3A6B3DDCC984764A1A908EE626603658D7&int=","hazmatnote":"Federal
        law forbids the carriage of hazardous materials such as aerosols, fireworks,
        lithium batteries and flammable liquids aboard the aircraft in your checked
        or carryon baggage. <b>By clicking \"Check In\", you acknowledge that you
        understand the hazardous materials restrictions and penalties.<\/b><\/br><\/br>
        <a href=''#''> View more details<\/a>","hazViewMoreLinkContent4LinkValue":"http://www.southwest.com/html/customer-service/baggage/special-luggage-pol.html","hazViewMoreLinkContentBold":"Certain
        items, if brought onboard, must be transported in your carry-on luggage.","hazViewMoreLinkContent1":"Certain
        items, if brought onboard, must be transported in your carry-on luggage.  For
        example, spare lithium batteries for portable electronic devices and cigarette
        lighters must be removed from checked or gate-checked baggage and carried
        onboard the aircraft.","hazmatnoteLinkValue":"/flight/pop_hazardous_materials_details.html","hazViewMoreLinkContent2":"Federal
        laws forbids the carriage of hazardous materials aboard aircraft, in your
        luggage or on your person. A violation can result in 5 years imprisonment
        and penalties of $250,000 or more (49 U.S.C. 5124). Hazardous materials include
        explosives, compressed gases, flammable liquids and solids, oxidizers, poisons,
        corrosives and radioactive materials.","passenger_names":[{"docType":"","passengerName":"Fuu
        Bar"}],"output":[{"arrivalCityCode":"BOS","stop1":"","changeplaneImage":"","departRouting":"Sunday,
        February 1, 2015","wifiInfo":"","departTime":"05:30PM","flightOperator":"","departCityCode":"BWI","seperatorflag":"true","departCity":"05:30
        PM Baltimore/Washington, MD (BWI)","stopmsg":"","travelDate":"Sunday, February
        1, 2015","flightNumber":"1001","date":"02/01/2015","arrivalCityName":"Boston
        Logan, MA (BOS)","arrivalTime":"06:55PM","traveltime":"Travel Time 1:25","scheduleDepart":"Feb
        1, 05:30PM","stop3":"","stop2":"","arriveCity":"06:55 PM Boston Logan, MA
        (BOS)"}],"hazViewMoreLinkHeading":"Hazardous Materials","returnItinerary":[]}'
  recorded_at: Sat, 31 Jan 2015 22:44:57 GMT
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&platform=iPhone&serviceID=getallboardingpass
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"BOARDINGPASS_CHECKIN_MESSAGE":"Be sure to save, e-mail or text your
        boarding pass at least one hour before your flight''s departure time. Mobile
        options are not available within one hour of departure.","text_email_msg":"E-mail
        my boarding document(s) to      E-mail will contain a boarding pass for your
        mobile device.  Use your mobile device to access the e-mail.","itineraryHeader":"Baltimore,
        MD  (BWI) to  Boston, MA  (BOS) |  Sunday, Feb 01, 2015 |  Departs 05:30 PM","messageTwo":"You
        still need a paper boarding pass.","flightNumber":"1001","mbpDetails":[{"mbpDepartDate":"Sunday,
        Feb 01, 2015","departCode":"BWI","pass_rr_number":"RR#12345678","itineraryHeader":"Baltimore,
        MD  (BWI) to  Boston, MA  (BOS) |  Sunday, Feb 01, 2015 |  Departs 05:30 PM","mbp_confirmationNumber":"ABC123","mbp_tier_status":"","mbprouting":"Baltimore,
        MD to Boston, MA","arriveCode":"BOS","departCity":"Baltimore, MD ","mbpDepartTime":"05:30
        PM","mbp_gateValue":"Check Airport Monitors","itineraryRouting":"Baltimore,
        MD (BWI) - Boston, MA (BOS) ","arriveCity":"Boston, MA "}],"mbp_email_option":"on","multiBoardingText":"You
        have two mobile boarding passes.Please select one to view and save:","text_email_msg_exclude":"E-mail
        my boarding document(s) to","title":"Southwest Airlines - Boarding Pass Options","flag_mbp_available":"true","mbp_print_option":"on","mbpPassenger":[{"flight_num":"1001","name":"Fuu
        Bar","pnr":"ABC123","boardingroup_text":"B","position1_text":"13"}],"mbp_emailOption_msg":"Each
        e-mail will contain a boarding pass for your mobile device. Use your mobile
        device to access the e-mail.You will receive 1 e-mail per leg of trip.","mbprecievemsg":"This
        flight is eligible for mobile boarding pass. Select how you would like to
        receive your boarding pass.","mbp_gateValue":"Check Airport Monitors   for
        Gate #","mbp_emailAddress":"fuu.bar@gmail.com","mbp_textOption_msg":"Text
        will contain a link to a boarding pass for your mobile device. Standard messaging
        charges will apply.You will receive 1 text per leg of trip.","errmsg":"","messageThree":"southwest.com
        | airport kiosk | ticket counter.","mbp_phoneArea":"","Document":[],"httpStatusCode":200,"documentList":[{"value":"Select
        Delivery Method","key":"select"},{"value":"View My Boarding Pass","key":"view"},{"value":"Text
        My Boarding Pass","key":"text"},{"value":"Email My Boarding Pass","key":"email"}],"mbp_confirmationNumber":"ABC123","mbp_tier_status":"","text_mobile_msg":"Text
        my mobile phone  (  )   -     Text will contain a link to a boarding pass
        for your mobile device. Standard  messaging charges will apply.","messageOne":"You
        are checked in and your boarding position is assigned.","mbp_phoneNumber":"","getallboardingpass_url":"https://www.southwest.com/flight/selectCheckinDocDelivery.html?disc=pdc%3A6B3DDCC984764A1A908EE626603658D7&int=","mbp_phonePrefix":"","text_mobile_msg_exclude":"Text
        my mobile phone  (  )   -","opstatus":0,"mbp_selectOption_msg":"This flight
        is eligible for mobile boarding pass. Please select option to receive your
        boarding pass.","boarding_group":"B","pass_rr_number":"RR#123456789","pass_name":"FUU  BAR","mbp_text_option":"on","boarding_position":"13"}'
  recorded_at: Sat, 31 Jan 2015 22:44:59 GMT
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&optionPrint=true&platform=iPhone&serviceID=viewboardingpass
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"middleName":"MN: B","lastName":"Bar","httpStatusCode":200,"mbp_requests":[{"condition":"RR"}],"tierStatus":"","boardingInfo":[{"middleName":"B","lastName":"Bar","positionTwo":"3","mbp_requests":[{"condition":"RR"}],"tierStatus":"","drinkCoupon":"","flightNumber":"1001","fareClass":"","gate":"---","requests":"","positionOne":"1","codeValue":"M1BAR/FUU
        A     EABC123 BWIBOSWN 1001 032N073B0073 125>30B0WW5031BWN 0E             0H0191L^460MEUCIQDya1gwyB8uSiJ+N++agznDACAqF1Io76O7Nkdb1YxKtAIgDZl/GKv2rO0852YxpStBnNwdLPM8vOKYzAOMIOsJ3zY=","firstName":"Fuu","group":"B","rrNumber":"12345678","confNumber":"ABC123","preCheck":""}],"mbp_error":"","drinkCoupon":"","opstatus":0,"flightNumber":"1001","fareClass":"","gate":"Check
        Monitors for Gate Number","confirmation_mailphone":"","drinkCoupon1":"","title":"Southwest
        Airlines - Print Boarding Passes and Security Documents","codeValue":"/flight/genbc?text=M1BAR%2FFUU+A+++++EABC123+BWIBOSWN+1001+032N073B0073+125%3E30B0WW5031BWN+0E+++++++++++++0H0191L%5E460MEUCIQDya1gwyB8uSiJ%2BN%2B%2BagznDACAqF1Io76O7Nkdb1YxKtAIgDZl%2FGKv2rO0852YxpStBnNwdLPM8vOKYzAOMIOsJ3zY%3D","drinkCoupon2":"","confirmation_text":"","viewboardingpass_url":"https://www.southwest.com/flight/viewCheckinDocument.html?disc=pdc%3A6B3DDCC984764A1A908EE626603658D7&int=","group":"B","firstName":"FN:
        FUU","errmsg":"","confNumber":"ABC123","rrNumber":"123456789","preCheck":""}'
  recorded_at: Sat, 31 Jan 2015 22:44:59 GMT
recorded_with: VCR 2.9.3
