---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&platform=iPhone&serviceID=checkIntravelAlerts
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"httpStatusCode":200,"appState":"green","state":"green","travel_alerts":[],"opstatus":0}'
  recorded_at: Sat, 10 Jan 2015 16:23:14 GMT
recorded_with: VCR 2.9.3
