---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&firstName=Fuu&lastName=Bar&platform=iPhone&recordLocator=ABC123&serviceID=flightcheckin_new
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"requirementName":"Continue","returnUrl":"/flight/selectPrintDocument.html?disc=sdc:DFD00AB19BAB464AABD2D5BC9A456436&int=","interMsg":"","NOUSE":[],"form_input":[{"name":"checkinPassengers[0].selected","value":"true"},{"name":"checkinPassengers[1].selected","value":"true"}],"hazmatnoteContent":"Federal
        law forbids the carriage of hazardous materials such as aerosols, fireworks,
        lithium batteries and flammable liquids aboard the aircraft in your checked
        or carryon baggage.","hazViewMoreLinkContent3b":"Paints, light fluid, fireworks,
        self-defense sprays, oxygen bottles and radio-pharmaceuticals. There are special
        exceptions for small quantities (up to 70 ounces total) of medicinal and toilet
        articles carried in your luggage and certain smoking materials carried on
        your person.","title":"Southwest Airlines - Checkin Online and Print Boarding
        Passes","CODA_FLOW":"false","hazViewMoreLinkContent3a":"EXAMPLES:","CODA_PNR":"false","DepartureTime":"01:35
        PM","errmsg":"","hazardNoteTitle":"Transportation of hazardous materials","hazViewMoreLinkContent4LinkText":"FAQ","httpStatusCode":200,"hazViewMoreLinkContent4":"If
        you have more questions regarding items acceptable for travel, visit our","hazmatnoteContentBold":"By
        clicking \"Check In\", you acknowledge that you understand the hazardous materials
        restrictions and penalties.","hazViewMore":"<b>Certain items, if brought onboard,
        must be transported in your carry-on luggage.<\/b><\/br>  For example, spare
        lithium batteries for portable electronic devices and cigarette lighters must
        be removed from checked or gate-checked baggage and carried onboard the aircraft.<\/br><\/br>Federal
        laws forbids the carriage of hazardous materials aboard aircraft, in your
        luggage or on your person. A violation can result in 5 years imprisonment
        and penalties of $250,000 or more (49 U.S.C. 5124). Hazardous materials include
        explosives, compressed gases, flammable liquids and solids, oxidizers, poisons,
        corrosives and radioactive materials.<\/br><\/br>EXAMPLES:<\/br>Paints, light
        fluid, fireworks, self-defense sprays, oxygen bottles and radio-pharmaceuticals.
        There are special exceptions for small quantities (up to 70 ounces total)
        of medicinal and toilet articles carried in your luggage and certain smoking
        materials carried on your person.<\/br><\/br>If you have more questions regarding
        items acceptable for travel, visit our <a href=''http://www.southwest.com/html/customer-service/baggage/special-luggage-pol.html''target=''_blank''>FAQ<\/a>.","hazmatnoteLinkText":"View
        more details","returnOperator":[],"continueText":"Check In","opstatus":0,"interimTitle":"Important
        Reminder for International Travelers","hazmatnoteTitle":"Transportation of
        hazardous materials","operator":"WN","NOUSE2":[],"flightcheckin_url":"https://www.southwest.com/flight/selectPrintDocument.html?disc=sdc%3ADFD00AB19BAB464AABD2D5BC9A456436&int=","hazmatnote":"Federal
        law forbids the carriage of hazardous materials such as aerosols, fireworks,
        lithium batteries and flammable liquids aboard the aircraft in your checked
        or carryon baggage. <b>By clicking \"Check In\", you acknowledge that you
        understand the hazardous materials restrictions and penalties.<\/b><\/br><\/br>
        <a href=''#''> View more details<\/a>","hazViewMoreLinkContent4LinkValue":"http://www.southwest.com/html/customer-service/baggage/special-luggage-pol.html","hazViewMoreLinkContentBold":"Certain
        items, if brought onboard, must be transported in your carry-on luggage.","hazViewMoreLinkContent1":"Certain
        items, if brought onboard, must be transported in your carry-on luggage.  For
        example, spare lithium batteries for portable electronic devices and cigarette
        lighters must be removed from checked or gate-checked baggage and carried
        onboard the aircraft.","hazmatnoteLinkValue":"/flight/pop_hazardous_materials_details.html","hazViewMoreLinkContent2":"Federal
        laws forbids the carriage of hazardous materials aboard aircraft, in your
        luggage or on your person. A violation can result in 5 years imprisonment
        and penalties of $250,000 or more (49 U.S.C. 5124). Hazardous materials include
        explosives, compressed gases, flammable liquids and solids, oxidizers, poisons,
        corrosives and radioactive materials.","passenger_names":[{"docType":"","passengerName":"Fuu
        Bar"},{"docType":"","passengerName":"John Smith"}],"output":[{"arrivalCityCode":"MDW","stop1":"","changeplaneImage":"","departRouting":"Sunday,
        February 1, 2015","wifiInfo":"WiFi available","departTime":"06:20AM","flightOperator":"","departCityCode":"SFO","seperatorflag":"true","departCity":"06:20
        AM San Francisco, CA (SFO)","stopmsg":"","travelDate":"Sunday, February 1,
        2015","flightNumber":"1001","date":"02/01/2015","arrivalCityName":"Chicago
        (Midway), IL (MDW)","arrivalTime":"12:30PM","traveltime":"Travel Time 4:10
        | <i>WiFi available<\/i>","scheduleDepart":"Feb 1, 06:20AM","stop3":"","stop2":"","arriveCity":"12:30
        PM Chicago (Midway), IL (MDW)"},{"arrivalCityCode":"BWI","stop1":"","changeplaneImage":"http://www.southwest.com/assets/images/icon_change_trip.gif","departRouting":"","wifiInfo":"WiFi
        available","departTime":"01:35PM","flightOperator":"","departCityCode":"MDW","seperatorflag":"","departCity":"01:35
        PM Chicago (Midway), IL (MDW)","stopmsg":"","travelDate":"Sunday, February
        1, 2015","flightNumber":"1002","date":"02/01/2015","arrivalCityName":"Baltimore/Washington,
        MD (BWI)","arrivalTime":"04:25PM","traveltime":"Travel Time 1:50 | <i>WiFi
        available<\/i>","scheduleDepart":"Feb 1, 01:35PM","stop3":"","stop2":"","arriveCity":"04:25
        PM Baltimore/Washington, MD (BWI)"}],"hazViewMoreLinkHeading":"Hazardous Materials","returnItinerary":[]}'
  recorded_at: Sat, 31 Jan 2015 18:42:00 GMT
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&platform=iPhone&serviceID=getallboardingpass
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"BOARDINGPASS_CHECKIN_MESSAGE":"Be sure to save, e-mail or text your
        boarding pass at least one hour before your flight''s departure time. Mobile
        options are not available within one hour of departure.","text_email_msg":"","itineraryHeader":"","messageTwo":"You
        still need a paper boarding pass.","flightNumber":"","mbpDetails":[],"mbp_email_option":"","multiBoardingText":"You
        have two mobile boarding passes.Please select one to view and save:","text_email_msg_exclude":"","title":"Southwest
        Airlines - Print Boarding Passes and Security Documents","mbp_print_option":"","mbpPassenger":[],"mbp_emailOption_msg":"Each
        e-mail will contain a boarding pass for your mobile device. Use your mobile
        device to access the e-mail.You will receive 1 e-mail per leg of trip.","mbprecievemsg":"This
        flight is eligible for mobile boarding pass. Select how you would like to
        receive your boarding pass.","mbp_gateValue":"","mbp_emailAddress":"","mbp_textOption_msg":"Text
        will contain a link to a boarding pass for your mobile device. Standard messaging
        charges will apply.You will receive 1 text per leg of trip.","errmsg":"","messageThree":"southwest.com
        | airport kiosk | ticket counter.","mbp_phoneArea":"","Document":[{"documentType":"checkinDocument","docType":"","boardingroup_sec":"","routing":"San
        Francisco to Chicago (Midway) 06:20 AM.\n1002\nChicago (Midway) to Baltimore/Washington
        01:35 PM.","flight_operator":"Issued and valid only on Southwest Airlines","flight_num":"1001","boadingPassNotIssuedSeatMsg":"","name":"Fuu
        Bar","boardingroupsec_text":"","at_return_time":"","flightOperatorDocDescription":"Southwest
        Airlines Flight","boardingroup_text":"C","position_1_sec":"","position2sec_text":"","dep_date":"Feb
        01","position_2":"http://www.southwest.com/assets/images/checkin/boarding_pass/boarding9.gif","position2_text":"9","at_seat":"","position_1":"http://www.southwest.com/assets/images/checkin/boarding_pass/boarding0.gif","boardingroup":"http://www.southwest.com/assets/images/checkin/boarding_pass/boardingC.gif","pnr":"ABC123","at_depart_time":"","position1_text":"0","boardingPassNotIssued":"","at_return_station":"","position_2_sec":"","at_gate":"","route":[{"depart_time":"06:20
        AM M","depart_station":"San Francisco","arrive_station":"Chicago (Midway)"},{"depart_time":"01:35
        PM","depart_station":"Chicago (Midway)","arrive_station":"Baltimore/Washington"}],"at_depart_station":"","secDocText":"","position1sec_text":"","cntFltNo":"1002","at_zone":""},{"documentType":"checkinDocument","docType":"","boardingroup_sec":"","routing":"Chicago
        (Midway) to Baltimore/Washington 01:35 PM.","flight_operator":"Issued and
        valid only on Southwest Airlines","flight_num":"1002","boadingPassNotIssuedSeatMsg":"","name":"","boardingroupsec_text":"","at_return_time":"","flightOperatorDocDescription":"Southwest
        Airlines Flight","boardingroup_text":"B","position_1_sec":"","position2sec_text":"","dep_date":"Feb
        01","position_2":[...]
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&optionPrint=true&platform=iPhone&serviceID=viewboardingpass
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"middleName":"MN: B","lastName":"Bar","httpStatusCode":200,"mbp_requests":[{"condition":"RR"},{"condition":"RR"}],"tierStatus":"","boardingInfo":[{"middleName":"B","positionTwo":"9","mbp_requests":[{"condition":"RR"}],"tierStatus":"","drinkCoupon":"","flightNumber":"1001","fareClass":"","gate":"---","requests":"","positionOne":"0","codeValue":"M1BAR/FUU   EABC123
        SFOMDWWN 1001 032M129C0129 125>30B0WW5031BWN 0E             0S0271L^460MEQCIA7B0mVGLCD6AeLJ+O9uDCUSiEGrTlZ6dEWmcxoqaampAiBrMcN0Yb0RqdkgAtMIzBBRy0r0eiz8at09m1nSGzMekg==","firstName":"Fuu","group":"C","rrNumber":"12345678","confNumber":"ABC123","preCheck":""},{"middleName":"","lastName":"Bar","positionTwo":"9","mbp_requests":[{"condition":"RR"}],"tierStatus":"","drinkCoupon":"","flightNumber":"1002","fareClass":"","gate":"---","requests":"","positionOne":"2","codeValue":"M1BAR/FUU   EABC123
        MDWBWIWN 01002 032M089B0089 125>30B0WW5031BWN 0E             0S0311X^460MEUCID0+YzSpGjYOWp7aoKKKLw4k9TyjZxLjYkI0Zh+jSiEQAiEA5dvol0HHgwrEbjXmS0GQFU+QjTon94HA8LWxvVvOfqw=","firstName":"Fuu","group":"B","rrNumber":"12345678","confNumber":"ABC123","preCheck":""},{"middleName":"","lastName":"Smith","positionTwo":"0","mbp_requests":[],"tierStatus":"","drinkCoupon":"","flightNumber":"1001","fareClass":"","gate":"---","positionOne":"1","codeValue":"M1SMITH/JOHN         EABC123
        SFOMDWWN 1001 032M130C0130 125>30B0WW5031BWN 0E             0R0061L^460MEUCIBBBOO8XvgYn7gBHo4jqTf5GU1Ez8IAdwOxEex6nOc8bAiEAj4+LW/J9mNsUnViyemWimNyQ8Mo94kHAo2OoJjui0Mw=","firstName":"John","group":"C","rrNumber":"","confNumber":"ABC123","preCheck":""},{"middleName":"","lastName":"Smith","positionTwo":"0","mbp_requests":[],"tierStatus":"","drinkCoupon":"","flightNumber":"1002","fareClass":"","gate":"---","positionOne":"3","codeValue":"M1SMITH/JOHN         EABC123
        MDWBWIWN 01002 032M090B0090 125>30B0WW5031BWN 0E             0R0151X^460MEUCIQCmjHtU9xSZiFFp23JtmNXoG/FA/u9DPXK698gLPcKBcAIgFegflPjrlFMiMgWq2FOzEhf+AC04m5lhUqd2wMtX8CA=","firstName":"John","group":"B","rrNumber":"","confNumber":"ABC123","preCheck":""}],"mbp_error":"","drinkCoupon":"","opstatus":0,"flightNumber":"1001","fareClass":"","gate":"Check
        Monitors for Gate Number","confirmation_mailphone":"","drinkCoupon1":"","title":"Southwest
        Airlines - Print Boarding Passes and Security Documents","codeValue":"/flight/genbc?text=M1BAR%2FFUU+++EABC123+SFOMDWWN+1001+032M129C0129+125%3E30B0WW5031BWN+0E+++++++++++++0S0271L%5E460MEQCIA7B0mVGLCD6AeLJ%2BO9uDCUSiEGrTlZ6dEWmcxoqaampAiBrMcN0Yb0RqdkgAtMIzBBRy0r0eiz8at09m1nSGzMekg%3D%3D","drinkCoupon2":"","confirmation_text":"","viewboardingpass_url":"https://www.southwest.com/flight/viewCheckinDocument.html?disc=sdc%3ADFD00AB19BAB464AABD2D5BC9A456436&int=","group":"C","firstName":"FN:
        FUU","errmsg":"","confNumber":"ABC123","rrNumber":"12345678","preCheck":""}'
  recorded_at: Sat, 31 Jan 2015 18:42:03 GMT
recorded_with: VCR 2.9.3
