---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.1&cacheid=&channel=rc&platform=iPhone&serviceID=getTravelInfo
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errmsg_firstserviceforcookie":"","RRLoginInfoText":"You will remain
        logged in even after closing the app unless you log out.","ChangeAirReturnUrl":"/flight/select-new-flight.html","idleTimeOutMessage":"Your
        session has expired. Please start the activity from the beginning.","idleTimeOutValue":"15","OMNI_REPORT_SERVER":"smetrics.southwest.com","EMERGENCY_CONTACT_FIRST_NAME_MESSAGE":"The
        Emergency Contact name is invalid, please enter a valid Emergency Contact
        name.","SAVE_AS_FREQ_TRIP_CONFIG_MSG":"Please Log in to your account to continue
        the operation","OMNI_CURRENCY_CODE":"USD","RESTRICTED_FORMS":"frmAdvisoryList,frmAdvisoryDetails,frmDingCancel,frmDingCancelConfirm,frmDingCityDetails,frmDingCitylist,frmDingLanding,frmDingOfferAirports,frmDingPlanTrip,frmDingRegister,frmDingUpdate,frmContactUs","httpStatusCode":200,"PROMOTION_FORMS":"frmSearchFlights,frmSelectDepFlight,frmSelectRetFlight,frmSeniorDepFlight,frmSeniorRetFlight,frmPriceItinerary,frmNewPrice,frmPassenger,frmPassengerEight,frmPassengerFive,frmPassengerFour,frmPassengerSeven,frmPassengerSix,frmPassengerThree,frmPassengerTwo,frmPurchase","OMNI_REPORT_SUITID":"swaprod","opstatus_getState_new":0,"LOOKUP_VALID_ENDDATE":"3","IS_PASS_BOOK_VISIBLE":"true","IS_LOOKUP_VALID_ENDDATE_REQ":"true","PointsLogoutMessage":"You
        will not be able to proceed with points booking as Guest.Please click Cancel
        to continue or OK to logout.","OMNI_SSL":"true","LOGIN_ENTRY_MESSAGE":"Log
        into your account to manage your upcoming flights","opstatus_getTravelAdvisories_new":0,"environment":"PROD","EVAR18":"{\"WannaGetAway\":[{\"fareClass\":\"wannaGetAway\",\"OW_fareType\":\"B\",\"RT_fareType\":\"L\"}],\"AnyTime\":[{\"fareClass\":\"anytime\",\"OW_fareType\":\"Y\",\"RT_fareType\":\"Y\"}],\"BusinessSelect\":[{\"fareClass\":\"businessSelect\",\"OW_fareType\":\"K\",\"RT_fareType\":\"K\"}],\"Senior\":[{\"fareClass\":\"senior\",\"OW_fareType\":\"Q\",\"RT_fareType\":\"Q\"}],\"Ding\":[{\"fareClass\":\"ding\",\"OW_fareType\":\"D\",\"RT_fareType\":\"D\"}]}","UPCOMINGTRIPS_CANCEL_TIMER_IN_SEC":"12","unsupportedphoneno":"18004359792","EarlyBirdReturnUrl":"/flight/early-bird-choose-flight.html","AirtranChangeAirText":"Itineraries
        purchased on airtran.com cannot be changed on southwest.com.","opstatus_firstserviceforcookie":0,"Session_Home":"1800","EnrollmentUpdatetext":"Enter
        the information below to update your account.","copyrightmessage":"&#169;2015
        Southwest Airlines Co. All Rights Reserved","SWASuite":"swamobile","TOGGLE_PROJ_HERO":"true","firstserviceforcookie_url":"https://www.southwest.com/","state":"green","IdleTimeOut_NonLoggedInText":"Please
        verify your information to complete the purchase using your profile.","AirtranRRLoginPageText":"A+
        accounts cannot be used.","appState":"green","IsBBNavigateToTC":"true","confirmationNumberText":"The
        confirmation number entered is invalid. Southwest Airlines confirmation numbers
        contain six alpha-numeric characters. (SW301005)","AirtranCancelAirText":"AirTran
        confirmation number cannot be used.","TERMS_CONDIITONS_URL":"http://www.southwest.com/html/about-southwest/terms-and-conditions/index.html?int=GFOOTER-BOTTOM-TERMS","AirtranFlightStatusText":"Flight
        status information is only available for flights within the US.","EMERGENCY_CONTACT_NUMBER_MESSAGE":"The
        Emergency Contact Phone Number is invalid, please enter a valid Phone Number.","omni_url":"southwestairlines.112.2o7.net/b/ss/","travel_alerts":[],"opstatus":0,"AirtranFlightSchedulesText":"Flight
        schedules are only available for flights within U.S.","updateMessage":"","confirmationNumberLength":"6","RRLoginEnrollText":"With
        a Southwest Account, you can view and manage your upcoming trips, store travel
        preferences to make future booking easier, and even enroll in Rapid Rewards
        in order to start earning points to use towards reward travel.","IS_CONTEXTUAL_VISIBLE":"true","CarReturnUrl":"/reservations/price-reservations.html","ThinClient_Url":"http://mobile.southwest.com","LINK_LEARN_MORE":"http://www.southwest.com/heart?src=LinkMobileWeb_hero","OMNI_DEBUG_TRACKING":"true","BookAirReturnUrl":"/reservations/price-reservations.html","needUpgrade":"false","unsupportedcalltext":"CALL
        1-800-I-FLY-SWA"}'
  recorded_at: Mon, 09 Feb 2015 01:00:12 GMT
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.1&cacheid=&channel=rc&platform=iPhone&serviceID=checkIntravelAlerts
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"httpStatusCode":200,"appState":"green","state":"green","travel_alerts":[{"travel_alert_link":"/html/advisories/swa_travel_advisory_2015171423321412931.html","travel_alert_text":"Winter
        Storm Marcus"}],"opstatus":0}'
  recorded_at: Mon, 09 Feb 2015 01:00:15 GMT
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&firstName=Fuu&lastName=Bar&platform=iPhone&recordLocator=ABC123&serviceID=flightcheckin_new
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"interMsg":"","form_input":[],"hazmatnoteContent":"","departItinerary":[],"title":"Southwest
        Airlines - Checkin Online and Print Boarding Passes","hazViewMoreLinkContent3b":"","hazViewMoreLinkContent3a":"","CODA_PNR":"false","errmsg":"Your
        reservation has been cancelled.  (SW301001-ck2_DHdfQ9apJcwbaofboQ)","hazViewMoreLinkContent4LinkText":"","httpStatusCode":200,"hazViewMoreLinkContent4":"","hazmatnoteContentBold":"","hazmatnoteLinkText":"","returnOperator":[],"departOperator":[],"opstatus":"-123","hazmatnoteTitle":"","flightcheckin_url":"https://www.southwest.com/flight/retrieveCheckinDoc.html","hazViewMoreLinkContent4LinkValue":"","hazViewMoreLinkContentBold":"","hazViewMoreLinkContent1":"","hazmatnoteLinkValue":"","hazViewMoreLinkContent2":"","passenger_names":[],"hazViewMoreLinkHeading":"","returnItinerary":[]}'
  recorded_at: Sat, 31 Jan 2015 17:50:32 GMT
recorded_with: VCR 2.9.3
