---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&firstName=Fuu&lastName=Bar&platform=iPhone&recordLocator=ABC123&serviceID=flightcheckin_new
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"requirementName":"Continue","returnUrl":"/flight/selectPrintDocument.html?disc=sdc:45F70E994A0246BDBD0F1B52A2B8ABB8&int=","interMsg":"","NOUSE":[],"form_input":[{"name":"checkinPassengers[0].selected","value":"true"},{"name":"checkinPassengers[1].selected","value":"true"},{"name":"checkinPassengers[2].selected","value":"true"}],"hazmatnoteContent":"Federal
        law forbids the carriage of hazardous materials such as aerosols, fireworks,
        lithium batteries and flammable liquids aboard the aircraft in your checked
        or carryon baggage.","hazViewMoreLinkContent3b":"Paints, light fluid, fireworks,
        self-defense sprays, oxygen bottles and radio-pharmaceuticals. There are special
        exceptions for small quantities (up to 70 ounces total) of medicinal and toilet
        articles carried in your luggage and certain smoking materials carried on
        your person.","title":"Southwest Airlines - Checkin Online and Print Boarding
        Passes","CODA_FLOW":"false","hazViewMoreLinkContent3a":"EXAMPLES:","CODA_PNR":"false","DepartureTime":"02:30
        PM","errmsg":"","hazardNoteTitle":"Transportation of hazardous materials","hazViewMoreLinkContent4LinkText":"FAQ","httpStatusCode":200,"hazViewMoreLinkContent4":"If
        you have more questions regarding items acceptable for travel, visit our","hazmatnoteContentBold":"By
        clicking \"Check In\", you acknowledge that you understand the hazardous materials
        restrictions and penalties.","hazViewMore":"<b>Certain items, if brought onboard,
        must be transported in your carry-on luggage.<\/b><\/br>  For example, spare
        lithium batteries for portable electronic devices and cigarette lighters must
        be removed from checked or gate-checked baggage and carried onboard the aircraft.<\/br><\/br>Federal
        laws forbids the carriage of hazardous materials aboard aircraft, in your
        luggage or on your person. A violation can result in 5 years imprisonment
        and penalties of $250,000 or more (49 U.S.C. 5124). Hazardous materials include
        explosives, compressed gases, flammable liquids and solids, oxidizers, poisons,
        corrosives and radioactive materials.<\/br><\/br>EXAMPLES:<\/br>Paints, light
        fluid, fireworks, self-defense sprays, oxygen bottles and radio-pharmaceuticals.
        There are special exceptions for small quantities (up to 70 ounces total)
        of medicinal and toilet articles carried in your luggage and certain smoking
        materials carried on your person.<\/br><\/br>If you have more questions regarding
        items acceptable for travel, visit our <a href=''http://www.southwest.com/html/customer-service/baggage/special-luggage-pol.html''target=''_blank''>FAQ<\/a>.","hazmatnoteLinkText":"View
        more details","returnOperator":[],"continueText":"Check In","opstatus":0,"interimTitle":"Important
        Reminder for International Travelers","hazmatnoteTitle":"Transportation of
        hazardous materials","operator":"WN","NOUSE2":[],"flightcheckin_url":"https://www.southwest.com/flight/selectPrintDocument.html?disc=sdc%3A45F70E994A0246BDBD0F1B52A2B8ABB8&int=","hazmatnote":"Federal
        law forbids the carriage of hazardous materials such as aerosols, fireworks,
        lithium batteries and flammable liquids aboard the aircraft in your checked
        or carryon baggage. <b>By clicking \"Check In\", you acknowledge that you
        understand the hazardous materials restrictions and penalties.<\/b><\/br><\/br>
        <a href=''#''> View more details<\/a>","hazViewMoreLinkContent4LinkValue":"http://www.southwest.com/html/customer-service/baggage/special-luggage-pol.html","hazViewMoreLinkContentBold":"Certain
        items, if brought onboard, must be transported in your carry-on luggage.","hazViewMoreLinkContent1":"Certain
        items, if brought onboard, must be transported in your carry-on luggage.  For
        example, spare lithium batteries for portable electronic devices and cigarette
        lighters must be removed from checked or gate-checked baggage and carried
        onboard the aircraft.","hazmatnoteLinkValue":"/flight/pop_hazardous_materials_details.html","hazViewMoreLinkContent2":"Federal
        laws forbids the carriage of hazardous materials aboard aircraft, in your
        luggage or on your person. A violation can result in 5 years imprisonment
        and penalties of $250,000 or more (49 U.S.C. 5124). Hazardous materials include
        explosives, compressed gases, flammable liquids and solids, oxidizers, poisons,
        corrosives and radioactive materials.","passenger_names":[{"docType":"","passengerName":"Fuu
        Bar"},{"docType":"","passengerName":"Qux Bar"},{"docType":"","passengerName":"Biz
        Bar"}],"output":[{"arrivalCityCode":"PIT","stop1":"","changeplaneImage":"","departRouting":"Sunday,
        February 1, 2015","wifiInfo":"","departTime":"02:30PM","flightOperator":"","departCityCode":"MCO","seperatorflag":"true","departCity":"02:30
        PM Orlando, FL (MCO)","stopmsg":"","travelDate":"Sunday, February 1, 2015","flightNumber":"1001","date":"02/01/2015","arrivalCityName":"Pittsburgh,
        PA (PIT)","arrivalTime":"04:45PM","traveltime":"Travel Time 2:15","scheduleDepart":"Feb
        1, 02:30PM","stop3":"","stop2":"","arriveCity":"04:45 PM Pittsburgh, PA (PIT)"}],"hazViewMoreLinkHeading":"Hazardous
        Materials","returnItinerary":[]}'
  recorded_at: Sat, 31 Jan 2015 20:32:55 GMT
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&platform=iPhone&serviceID=getallboardingpass
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"BOARDINGPASS_CHECKIN_MESSAGE":"Be sure to save, e-mail or text your
        boarding pass at least one hour before your flight''s departure time. Mobile
        options are not available within one hour of departure.","text_email_msg":"","itineraryHeader":"","messageTwo":"You
        still need a paper boarding pass.","flightNumber":"","mbpDetails":[],"mbp_email_option":"","multiBoardingText":"You
        have two mobile boarding passes.Please select one to view and save:","text_email_msg_exclude":"","title":"Southwest
        Airlines - Print Boarding Passes and Security Documents","mbp_print_option":"","mbpPassenger":[],"mbp_emailOption_msg":"Each
        e-mail will contain a boarding pass for your mobile device. Use your mobile
        device to access the e-mail.You will receive 1 e-mail per leg of trip.","mbprecievemsg":"This
        flight is eligible for mobile boarding pass. Select how you would like to
        receive your boarding pass.","mbp_gateValue":"","mbp_emailAddress":"","mbp_textOption_msg":"Text
        will contain a link to a boarding pass for your mobile device. Standard messaging
        charges will apply.You will receive 1 text per leg of trip.","errmsg":"","messageThree":"southwest.com
        | airport kiosk | ticket counter.","mbp_phoneArea":"","Document":[{"documentType":"checkinDocument","docType":"","boardingroup_sec":"","routing":"Orlando
        to Pittsburgh 02:30 PM.","flight_operator":"Issued and valid only on Southwest
        Airlines","flight_num":"1001","boadingPassNotIssuedSeatMsg":"","name":"Fuu
        Bar","boardingroupsec_text":"","at_return_time":"","flightOperatorDocDescription":"Southwest
        Airlines Flight","boardingroup_text":"B","position_1_sec":"","position2sec_text":"","dep_date":"Feb
        01","position_2":"http://www.southwest.com/assets/images/checkin/boarding_pass/boarding6.gif","position2_text":"6","at_seat":"","position_1":"http://www.southwest.com/assets/images/checkin/boarding_pass/boarding1.gif","boardingroup":"http://www.southwest.com/assets/images/checkin/boarding_pass/boardingB.gif","pnr":"ABC123","at_depart_time":"","position1_text":"1","boardingPassNotIssued":"","at_return_station":"","position_2_sec":"","at_gate":"","route":[{"depart_time":"02:30
        PM O","depart_station":"Orlando","arrive_station":"Pittsburgh"}],"at_depart_station":"","secDocText":"","position1sec_text":"","cntFltNo":"","at_zone":""},{"documentType":"checkinDocument","docType":"","boardingroup_sec":"","routing":"Orlando
        to Pittsburgh 02:30 PM.","flight_operator":"Issued and valid only on Southwest
        Airlines","flight_num":"1001","boadingPassNotIssuedSeatMsg":"","name":"Qux
        Bar","boardingroupsec_text":"","at_return_time":"","flightOperatorDocDescription":"Southwest
        Airlines Flight","boardingroup_text":"B","position_1_sec":"","position2sec_text":"","dep_date":"Feb
        01","position_2":"htt[...]
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&optionPrint=true&platform=iPhone&serviceID=viewboardingpass
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"middleName":"MN: B","lastName":"Bar","httpStatusCode":200,"mbp_requests":[{"condition":"RR"}],"tierStatus":"","boardingInfo":[{"middleName":"B","lastName":"Bar","positionTwo":"6","mbp_requests":[{"condition":"RR"}],"tierStatus":"","drinkCoupon":"","flightNumber":"1001","fareClass":"","gate":"---","requests":"","positionOne":"1","codeValue":"M1BAR/FUU
        EABC123 MCOPITWN 1001 032O076B0076 125>30B0WW5031BWN 0E             0F0051L^460MEUCIExi8ZK20x5ngO6YQAiBkYEtgQuhEMi0Ebhl471H46VSAiEAzLi9vrtGVBMB+7+Ynlg7WfkQ0toIapX1mhBms/yhTys=","firstName":"Fuu","group":"B","rrNumber":"12345678","confNumber":"ABC123","preCheck":""},{"middleName":"","lastName":"Bar","positionTwo":"7","mbp_requests":[],"tierStatus":"","drinkCoupon":"","flightNumber":"1001","fareClass":"","gate":"---","positionOne":"1","codeValue":"M1BAR/QUX   EABC123
        MCOPITWN 1001 032O077B0077 125>30B0WW5031BWN 0E             0F0041L^460MEUCIQCDb/bstgxIQdXbW4tol+qZ4xcwX8NU7KIH6zBkUwnEewIgJM2az2HIQsBZA0nxRfKoWnux9gz+eFZAhMs5ZCqnOx4=","firstName":"Qux","group":"B","rrNumber":"","confNumber":"ABC123","preCheck":""},{"middleName":"","lastName":"Bar","positionTwo":"8","mbp_requests":[],"tierStatus":"","drinkCoupon":"","flightNumber":"1001","fareClass":"","gate":"---","positionOne":"1","codeValue":"M1BAR/BIZ   EABC123
        MCOPITWN 1001 032O078B0078 125>30B0WW5031BWN 0E             0F0031L^460MEUCIHYYM+8JBq2Rg1Iu0UvsJkfS87Ohgb46XibP9lhn3CBXAiEA/4YKZWz7uO+W7fpfVkW+HPsbkPKAEOT+iAVPvelbFEw=","firstName":"Biz","group":"B","rrNumber":"","confNumber":"ABC123","preCheck":""}],"mbp_error":"","drinkCoupon":"","opstatus":0,"flightNumber":"1001","fareClass":"","gate":"Check
        Monitors for Gate Number","confirmation_mailphone":"","drinkCoupon1":"","title":"Southwest
        Airlines - Print Boarding Passes and Security Documents","codeValue":"/flight/genbc?text=M1BAR%2FFUU+EABC123+MCOPITWN+1001+032O076B0076+125%3E30B0WW5031BWN+0E+++++++++++++0F0051L%5E460MEUCIExi8ZK20x5ngO6YQAiBkYEtgQuhEMi0Ebhl471H46VSAiEAzLi9vrtGVBMB%2B7%2BYnlg7WfkQ0toIapX1mhBms%2FyhTys%3D","drinkCoupon2":"","confirmation_text":"","viewboardingpass_url":"https://www.southwest.com/flight/viewCheckinDocument.html?disc=sdc%3A45F70E994A0246BDBD0F1B52A2B8ABB8&int=","group":"B","firstName":"FN:
        FUU","errmsg":"","confNumber":"ABC123","rrNumber":"12345678","preCheck":""}'
  recorded_at: Sat, 31 Jan 2015 20:32:58 GMT
recorded_with: VCR 2.9.3
