---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.1&cacheid=&channel=rc&confirmationNumber=ABC123&confirmationNumberFirstName=Fuu&confirmationNumberLastName=Bar&creditCardDepartureDate=03%2F18%2F2015&creditCardFirstName=&creditCardLastName=&platform=iPhone&searchType=ConfirmationNumber&serviceID=viewAirReservation&submitButton=Continue
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lastName":"Bar","confirmNumber":"ABC123","upComingInfo":[{"image0":"","isCompanion":"false","confirmationNumber":"Confirmation
        #ABC123","passengerName0":"Fuu Bar","TripName":"Baltimore/Washington, MD -
        Punta Cana, DO","isFlNotifAvailable":"false","arrivalCityName":"Punta Cana,
        DO"}],"isInternationalPNR":"true","itinerarylist":[],"isMultiSegment":"false","opstatus":0,"tripHeader":"03/20/2015
        - Punta Cana","errmsg":"","firstName":"Fuu"}'
  recorded_at: Wed, 18 Mar 2015 14:44:23 GMT
recorded_with: VCR 2.9.3
