---
http_interactions:
- request:
    method: get
    uri: https://api-extensions.southwest.com/v1/mobile/reservations/record-locator/ABC123?action=VIEW&first-name=Fuu&last-name=Bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.swacorp.com.mobile.reservations-v1.0+json
      X-Api-Key:
      - l7xx8d8bfce4ee874269bedc02832674129b
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Correlationid:
      - ilUuS1JAQYyblvw9xGJ7Wg-API
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":404599104,"message":"Hmm, we can''t find this reservation.
        Please double-check your information.","httpStatusCode":"NOT_FOUND","requestId":"ilUuS1JAQYyblvw9xGJ7Wg-API"}'
  recorded_at: Sun, 20 Mar 2016 22:46:28 GMT
recorded_with: VCR 2.9.3
