---
http_interactions:
- request:
    method: get
    uri: https://api-extensions.southwest.com/v1/mobile/reservations/record-locator/ABC123?action=VIEW&first-name=Fuu&last-name=Bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.swacorp.com.mobile.reservations-v1.0+json
      X-Api-Key:
      - l7xx8d8bfce4ee874269bedc02832674129b
  response:
    status:
      code: 200
      message: OK
    headers:
      Correlationid:
      - vjBtpYY-TKuJeFMQE6c6wA-API
      Content-Type:
      - application/vnd.swacorp.com.mobile.reservations-v1.0+json
    body:
      encoding: UTF-8
      string: '{"recordLocator":"ABC123","passengers":[{"secureFlightName":{"firstName":"FUU","lastName":"BAR","middleName":"B","suffix":""},"birthDate":"1969-12-31","gender":"F","accountNumber":"00012312312312","redressNumber":"","knownTravelerId":"TT1231231","tier":"NON_ELITE","loyaltyAccountType":"RAPID_REWARDS_MEMBER","earlyBirdEligibilities":[{"earlyBirdProductId":"TUNJfDIwMTYtMDMtMjR8MTczOXxTVVNBTnxXfE9SVEJBTFN8fDE1MDA=","status":"ELIGIBLE","priceCents":1500,"originationDestinationId":"201603241705-0500,201603241840-0700|MCI-LAX|WN1001"},{"earlyBirdProductId":"TEFYfDIwMTYtMDMtMjh8MjgzOHxTVVNBTnxXfE9SVEJBTFN8fDE1MDA=","status":"ELIGIBLE","priceCents":1500,"originationDestinationId":"201603280535-0700,201603281050-0500|LAX-MCI|WN1002"}]}],"itinerary":{"originationDestinations":[{"segments":[{"departureDateTime":"2016-03-24T17:05:00.000-05:00","arrivalDateTime":"2016-03-24T18:40:00.000-07:00","originationAirportCode":"MCI","destinationAirportCode":"LAX","operatingCarrierInfo":{"carrierCode":"WN","flightNumber":"1001"},"marketingCarrierInfo":{"carrierCode":"WN","flightNumber":"1001"},"legs":[{"originationAirportCode":"MKC","destinationAirportCode":"LAX"}],"wifiAvailable":null}],"durationMinutes":215,"originationDestinationId":"201603241705-0500,201603241840-0700|MCI-LAX|WN1001","checkinDocumentReason":null,"checkinDocumentType":null,"fareType":"Wanna
        Get Away","_links":{"deleteBoardingPass":null}},{"segments":[{"departureDateTime":"2016-03-28T05:35:00.000-07:00","arrivalDateTime":"2016-03-28T10:50:00.000-05:00","originationAirportCode":"LAX","destinationAirportCode":"MCI","operatingCarrierInfo":{"carrierCode":"WN","flightNumber":"1002"},"marketingCarrierInfo":{"carrierCode":"WN","flightNumber":"1002"},"legs":[{"originationAirportCode":"LAX","destinationAirportCode":"MCI"}],"wifiAvailable":null}],"durationMinutes":195,"originationDestinationId":"201603280535-0700,201603281050-0500|LAX-MCI|WN1002","checkinDocumentReason":null,"checkinDocumentType":null,"fareType":"Wanna
        Get Away","_links":{"deleteBoardingPass":null}}]},"receiptEmail":"FUU.BAR@EXAMPLE.COM","currencyType":"Points","international":false,"warnings":[],"unaccompaniedMinor":false,"_links":{"retrieveForCancel":{"href":"/v1/mobile/reservations/record-locator/ABC123?first-name=Fuu&last-name=BAR&action=CANCEL","method":"GET"},"retrieveForChange":{"href":"/v1/mobile/reservations/record-locator/ABC123?first-name=Fuu&last-name=BAR&action=CHANGE","method":"GET"},"retrieveForBuyEarlyBird":{"href":"/v1/mobile/reservations/record-locator/ABC123?first-name=Fuu&last-name=BAR&action=EARLYBIRD","method":"GET"},"companionReservations":null}}'
  recorded_at: Sun, 20 Mar 2016 17:38:05 GMT
recorded_with: VCR 2.9.3
