---
http_interactions:
- request:
    method: post
    uri: https://api-extensions.southwest.com/v1/mobile/reservations/record-locator/ABC123/boarding-passes
    body:
      encoding: UTF-8
      string: names%5B%5D[firstName]=Fuu&names%5B%5D[lastName]=BAR
    headers:
      Content-Type:
      - application/vnd.swacorp.com.mobile.boarding-passes-v1.0+json
      X-Api-Key:
      - l7xx8d8bfce4ee874269bedc02832674129b
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Correlationid:
      - o6ylMbMpS-2XR63G3WFWxA-API
      X-Cnection:
      - close
      - close
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":400400100,"message":"Request contains invalid characters","httpStatusCode":"BAD_REQUEST","requestId":"o6ylMbMpS-2XR63G3WFWxA-API"}'
  recorded_at: Thu, 24 Mar 2016 02:32:01 GMT
recorded_with: VCR 2.9.3
