---
http_interactions:
- request:
    method: post
    uri: https://api-extensions.southwest.com/v1/mobile/reservations/record-locator/ABC123/boarding-passes
    body:
      encoding: UTF-8
      string: '{"names":[{"firstName":"Fuu","lastName":"Bar"}]}'
    headers:
      Content-Type:
      - application/vnd.swacorp.com.mobile.boarding-passes-v1.0+json
      X-Api-Key:
      - l7xx8d8bfce4ee874269bedc02832674129b
  response:
    status:
      code: 200
      message: OK
    headers:
      Correlationid:
      - DEmyoQwISZ6HBP7o18T2_w-API
      Content-Type:
      - application/vnd.swacorp.com.mobile.boarding-passes-v1.0+json
    body:
      encoding: UTF-8
      string: '{"maxFailedCheckInAttemptsReached":false,"passengerCheckInDocuments":[{"passenger":{"secureFlightFirstName":"FUU","secureFlightLastName":"BAR","secureFlightMiddleName":"W","secureFlightSuffix":"","loyaltyAccountNumber":"00012312312312","tier":"NON_ELITE","birthDate":"1969-12-31","specialConditions":[],"firstName":"FUU","lastName":"BAR","redressNumber":"","gender":"F","passengerTypePrefix":"PTP_NONE"},"checkinDocuments":[{"boardingGroupNumber":"42","boardingGroup":"B","documentType":"BOARDING_PASS","departureDateTime":"2016-03-24T17:05:00.000","arrivalDateTime":"2016-03-24T18:40:00.000","origin":"MCI","destination":"LAX","secureFlightBarCode":"M1BAR/FUU
        W     EABC123 MCILAXWN 1001 084O102B0102 125>30B0WW6083BWN 0E             3O0031L^460MEUCIQDxEZAZJRqThrYjadsfawertdfasdgasdgfawefdKIlgQIgGhDJ6CKj+TgP4cAmA+lie89L1Am/1LJePFIQZB5o3xc=","fareProductType":"wannaGetAway","gate":null,"flightNumber":"1001","hasPreCheck":true,"originName":"Kansas
        City","destinationName":"Los Angeles","carrierInfo":{"carrierCode":"WN","flightNumber":"1001"},"drinkCouponBarCode":null,"issued":true,"nonRevenue":false,"reprint":false,"seat":null,"durationMinutes":215}],"mobileBoardingPassEligible":true}]}'
  recorded_at: Thu, 24 Mar 2016 02:38:02 GMT
recorded_with: VCR 2.9.3
