---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&confirmationNumber=ABC123&confirmationNumberFirstName=Fuu&confirmationNumberLastName=Bar&creditCardDepartureDate=01%2F31%2F2015&creditCardFirstName=&creditCardLastName=&platform=iPhone&searchType=ConfirmationNumber&serviceID=viewAirReservation&submitButton=Continue
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"upComingInfo":[{"isCompanion":"false","chkinfirstName":"FUU","isInternationalPNR":"","cnclFirstName":"FUU","confirmationNumber":"Confirmation
        #ABC123","Depart2":{"departstop2":"","departstop3":"","changePlane":"Chicago
        (Midway), IL (MDW)","departCity":"07:10 PM Chicago (Midway), IL (MDW)","departFlightNo":"1001","departoperator":"","arrivalCity":"10:00
        PM San Francisco, CA (SFO)","departstop1":""},"Depart1":{"travelTime":"Travel
        Time 7:50","departDate":"Wednesday, Jan 28, 2015","depfaretype":"","departstop2":"","departstop3":"","departCity":"05:10
        PM Baltimore/Washington, MD (BWI)","departFlightNo":"2780","departoperator":"","arrivalCity":"06:20
        PM Chicago (Midway), IL (MDW)","departstop1":""},"TripName":"Baltimore/Washington,
        MD - San Francisco, CA","isFlNotifAvailable":"false","cnclConfirmNo":"ABC123","sfreqLastName":"BAR","chgFirstName":"FUU","arrivalCityName":"San
        Francisco, CA","chgLastName":"BAR","image0":"","Return1":{"returnoperator":"","travelTime":"Travel
        Time 7:05","returnstop3":"","returnstop2":"","returnFlightNo":"1002","retfaretype":"Wanna
        Get Away","departCity":"06:20 AM San Francisco, CA (SFO)","returnDate":"Sunday,
        Feb 01, 2015","arrivalCity":"12:30 PM Chicago (Midway), IL (MDW)","returnstop1":""},"chgConfirmNo":"ABC123","Return2":{"returnoperator":"","returnstop3":"","returnstop2":"","returnFlightNo":"979","changePlane":"Change  to
        Southwest Airlines in Chicago (Midway), IL (MDW)","departCity":"01:35 PM Chicago
        (Midway), IL (MDW)","arrivalCity":"04:25 PM Baltimore/Washington, MD (BWI)","returnstop1":""},"image1":"","chkinConfNo":"ABC123","sfreqFirstName":"FUU","cnclLastName":"BAR","sfreqConfirmNo":"ABC123","passengerName0":"Fuu
        Bar","passengerName1":"John Smith","chkinlastName":"BAR"}],"itinerarylist":[],"isMultiSegment":"false","opstatus":0,"tripHeader":"01/28/15
        - San Francisco","errmsg":""}'
  recorded_at: Sat, 31 Jan 2015 18:48:36 GMT
recorded_with: VCR 2.9.3
