---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&confirmationNumber=ABC123&confirmationNumberFirstName=Fuu&confirmationNumberLastName=Bar&creditCardDepartureDate=02%2F08%2F2015&creditCardFirstName=&creditCardLastName=&platform=iPhone&searchType=ConfirmationNumber&serviceID=viewAirReservation&submitButton=Continue
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"upComingInfo":[{"isCompanion":"false","chkinfirstName":"FUU","isInternationalPNR":"","cnclFirstName":"FUU","confirmationNumber":"Confirmation
        #ABC123","Depart1":{"travelTime":"Travel Time 1:30","departDate":"Monday,
        Feb 09, 2015","depfaretype":"Wanna Get Away","departstop2":"","departstop3":"","departCity":"01:05
        PM Chicago (Midway), IL (MDW)","departFlightNo":"1001","departoperator":"","arrivalCity":"02:35
        PM Kansas City, MO (MCI)","departstop1":""},"TripName":"Chicago (Midway),
        IL - Kansas City, MO","isFlNotifAvailable":"false","cnclConfirmNo":"ABC123","sfreqLastName":"BAR","chgFirstName":"FUU","arrivalCityName":"Kansas
        City, MO","chgLastName":"BAR","image0":"","chgConfirmNo":"ABC123","chkinConfNo":"ABC123","sfreqFirstName":"FUU","cnclLastName":"BAR","sfreqConfirmNo":"ABC123","passengerName0":"Fuu
        Bar","chkinlastName":"BAR"}],"itinerarylist":[],"isMultiSegment":"false","opstatus":0,"tripHeader":"02/09/15
        - Kansas City","errmsg":""}'
  recorded_at: Sun, 08 Feb 2015 19:07:04 GMT
recorded_with: VCR 2.9.3
