---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&confirmationNumber=ABC123&confirmationNumberFirstName=Fuu&confirmationNumberLastName=Bar&creditCardDepartureDate=01%2F12%2F2015&creditCardFirstName=&creditCardLastName=&platform=iPhone&searchType=ConfirmationNumber&serviceID=viewAirReservation&submitButton=Continue
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"upComingInfo":[{"image0":"","isCompanion":"false","cnclFirstName":"FUU","confirmationNumber":"Confirmation
        #ABC123","Depart2":{"departstop2":"","departstop3":"","changePlane":"Denver,
        CO (DEN)","departCity":"10:05 PM Denver, CO (DEN)","departFlightNo":"213","departoperator":"","arrivalCity":"11:25
        PM Albuquerque, NM (ABQ)","departstop1":""},"Depart1":{"travelTime":"Travel
        Time 4:15","departDate":"Friday, Jan 16, 2015","depfaretype":"Wanna Get Away","departstop2":"","departstop3":"","departCity":"08:10
        PM Austin, TX (AUS)","departFlightNo":"406","departoperator":"","arrivalCity":"09:25
        PM Denver, CO (DEN)","departstop1":""},"cnclLastName":"BAR","passengerName0":"Fuu
        Bar","TripName":"Austin, TX - Denver, CO","isFlNotifAvailable":"false","cnclConfirmNo":"ABC123","arrivalCityName":"Denver,
        CO"}],"itinerarylist":[],"isMultiSegment":"false","opstatus":0,"tripHeader":"01/16/15
        - Albuquerque","errmsg":""}'
  recorded_at: Tue, 13 Jan 2015 00:28:52 GMT
recorded_with: VCR 2.9.3
