---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.1&cacheid=&channel=rc&confirmationNumber=ABC123&confirmationNumberFirstName=Fuu&confirmationNumberLastName=Bar&creditCardDepartureDate=03%2F17%2F2015&creditCardFirstName=&creditCardLastName=&platform=iPhone&searchType=ConfirmationNumber&serviceID=viewAirReservation&submitButton=Continue
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"upComingInfo":[{"ebchkinConfNo":"ABC123","isCompanion":"false","ebchkinlastName":"BAR","cnclFirstName":"FUU","confirmationNumber":"Confirmation
        #ABC123","Depart1":{"travelTime":"Travel Time 2:15","departDate":"Thursday,
        Mar 19, 2015","depfaretype":"Companion","departstop2":"","departstop3":"","departCity":"10:00
        PM Nashville, TN (BNA)","departFlightNo":"893","departoperator":"","arrivalCity":"<i>Next
        Day<\/i> 12:15 AM  Austin, TX (AUS)","departstop1":""},"TripName":"Nashville,
        TN - Austin, TX","isFlNotifAvailable":"false","cnclConfirmNo":"ABC123","sfreqLastName":"BAR","chgFirstName":"FUU","arrivalCityName":"Austin,
        TX","image0":"","chgLastName":"BAR","chgConfirmNo":"ABC123","sfreqFirstName":"FUU","cnclLastName":"BAR","sfreqConfirmNo":"ABC123","passengerName0":"Fuu
        Bar","ebchkinfirstName":"FUU"},{"isCompanion":"false","chkinfirstName":"FUU","isInternationalPNR":"","cnclFirstName":"FUU","confirmationNumber":"Confirmation
        #ABC124","Depart1":{"travelTime":"Travel Time 1:35","departDate":"Wednesday,
        Mar 18, 2015","depfaretype":"Companion","departstop2":"","departstop3":"","departCity":"08:05
        PM Raleigh/Durham, NC (RDU)","departFlightNo":"866","departoperator":"","arrivalCity":"08:40
        PM Nashville, TN (BNA)","departstop1":""},"TripName":"Raleigh/Durham, NC -
        Nashville, TN","isFlNotifAvailable":"false","cnclConfirmNo":"ABC124","sfreqLastName":"BAR","chgFirstName":"FUU","arrivalCityName":"Nashville,
        TN","chgLastName":"BAR","image0":"","chgConfirmNo":"ABC124","chkinConfNo":"ABC124","sfreqFirstName":"FUU","cnclLastName":"BAR","sfreqConfirmNo":"ABC124","passengerName0":"Fuu
        Bar","chkinlastName":"BAR"},{"isCompanion":"false","chkinfirstName":"JIM","isInternationalPNR":"","cnclFirstName":"JIM","confirmationNumber":"Confirmation
        #ABC125","Depart1":{"travelTime":"Travel Time 1:35","departDate":"Wednesday,
        Mar 18, 2015","depfaretype":"Wanna Get Away","departstop2":"","departstop3":"","departCity":"08:05
        PM Raleigh/Durham, NC (RDU)","departFlightNo":"866","departoperator":"","arrivalCity":"08:40
        PM Nashville, TN (BNA)","departstop1":""},"TripName":"Raleigh/Dur[...]
