---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&confirmationNumber=ABC123&confirmationNumberFirstName=Fuu&confirmationNumberLastName=Bar&creditCardDepartureDate=01%2F31%2F2015&creditCardFirstName=&creditCardLastName=&platform=iPhone&searchType=ConfirmationNumber&serviceID=viewAirReservation&submitButton=Continue
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"lastName":"Bar","confirmNumber":"ABC123","viewAirReservation_url":"https://www.southwest.com/flight/view-air-reservation.html?disc=sdc%3A191A8AE7B564457B9C6F22FF25EAD03F&int=","httpStatusCode":200,"itinerarylist":[],"hiddendetails":[{"name":"returnUrl","value":"/flight/view-air-reservation.html?disc=sdc:191A8AE7B564457B9C6F22FF25EAD03F&int="},{"name":"returnUrlForMaritz","value":""},{"name":"_rememberMe","value":"on"}],"viewAirReservation_hiddenjson":"{}","tripHeader":"","opstatus":"-123","tempupComingInfo":[],"firstName":"Fuu","errmsg":"Your
        reservation has been cancelled  (SW107028)","carInfo":[]}'
  recorded_at: Sat, 31 Jan 2015 17:25:00 GMT
recorded_with: VCR 2.9.3
