---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&confirmationNumber=ABC123&confirmationNumberFirstName=Fuu&confirmationNumberLastName=Bar&creditCardDepartureDate=01%2F31%2F2015&creditCardFirstName=&creditCardLastName=&platform=iPhone&searchType=ConfirmationNumber&serviceID=viewAirReservation&submitButton=Continue
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"upComingInfo":[{"chkinfirstName":"FUU","confirmationNumber":"Confirmation
        #ABC123","Depart1":{"travelTime":"Travel Time 2:40","departDate":"Thursday,
        Jan 29, 2015","depfaretype":"","departstop2":"","departstop3":"","departCity":"06:20
        AM Pittsburgh, PA (PIT)","departFlightNo":"965","departoperator":"","arrivalCity":"09:00
        AM Orlando, FL (MCO)","departstop1":""},"cnclConfirmNo":"ABC123","arrivalCityName":"Orlando,
        FL","chgLastName":"BAR","Return1":{"returnoperator":"","travelTime":"Travel
        Time 2:15","returnstop3":"","returnstop2":"","returnFlightNo":"2372","retfaretype":"Wanna
        Get Away","departCity":"02:30 PM Orlando, FL (MCO)","returnDate":"Sunday,
        Feb 01, 2015","arrivalCity":"04:45 PM Pittsburgh, PA (PIT)","returnstop1":""},"sfreqFirstName":"FUU","sfreqConfirmNo":"ABC123","isCompanion":"false","isInternationalPNR":"","cnclFirstName":"FUU","TripName":"Pittsburgh,
        PA - Orlando, FL","chgFirstName":"FUU","sfreqLastName":"BAR","isFlNotifAvailable":"false","image0":"","chgConfirmNo":"ABC123","image2":"","image1":"","chkinConfNo":"ABC123","cnclLastName":"BAR","passengerName0":"Fuu
        Bar","passengerName1":"Qux Bar","passengerName2":"Biz Bar","chkinlastName":"BAR"}],"itinerarylist":[],"isMultiSegment":"false","opstatus":0,"tripHeader":"Dis-to-the-ney","errmsg":""}'
  recorded_at: Sat, 31 Jan 2015 20:32:28 GMT
recorded_with: VCR 2.9.3
