---
http_interactions:
- request:
    method: post
    uri: https://mobile.southwest.com/middleware/MWServlet
    body:
      encoding: UTF-8
      string: appID=swa&appver=2.10.0&cacheid=&channel=rc&confirmationNumber=ABC123&confirmationNumberFirstName=Fuu&confirmationNumberLastName=Bar&creditCardDepartureDate=01%2F12%2F2015&creditCardFirstName=&creditCardLastName=&platform=iPhone&searchType=ConfirmationNumber&serviceID=viewAirReservation&submitButton=Continue
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"upComingInfo":[{"ebchkinConfNo":"ABC123","isCompanion":"false","ebchkinlastName":"BAR","cnclFirstName":"FUU","confirmationNumber":"Confirmation
        #ABC123","Depart1":{"travelTime":"Travel Time 3:00","departDate":"Friday,
        Mar 13, 2015","depfaretype":"Wanna Get Away","departstop2":"","departstop3":"","departCity":"08:50
        PM Baltimore/Washington, MD (BWI)","departFlightNo":"31","departoperator":"","arrivalCity":"10:50
        PM New Orleans, LA (MSY)","departstop1":""},"TripName":"Baltimore/Washington,
        MD - New Orleans, LA","isFlNotifAvailable":"false","cnclConfirmNo":"ABC123","sfreqLastName":"BAR","chgFirstName":"FUU","arrivalCityName":"New
        Orleans, LA","image0":"","chgLastName":"BAR","Return1":{"returnoperator":"","travelTime":"Travel
        Time 4:25","returnstop3":"","returnstop2":"","returnFlightNo":"735","retfaretype":"Wanna
        Get Away","departCity":"12:40 PM New Orleans, LA (MSY)","returnDate":"Tuesday,
        Mar 17, 2015","arrivalCity":"02:05 PM Nashville, TN (BNA)","returnstop1":""},"chgConfirmNo":"ABC123","Return2":{"returnoperator":"","returnstop3":"","returnstop2":"","returnFlightNo":"1885","changePlane":"Change  to
        Southwest Airlines in Nashville, TN (BNA)","departCity":"03:30 PM Nashville,
        TN (BNA)","arrivalCity":"06:05 PM Baltimore/Washington, MD (BWI)","returnstop1":""},"sfreqFirstName":"FUU","cnclLastName":"BAR","sfreqConfirmNo":"ABC123","passengerName0":"Fuu
        Bar","ebchkinfirstName":"FUU"}],"itinerarylist":[],"isMultiSegment":"false","opstatus":0,"tripHeader":"03/13/15
        - New Orleans","errmsg":""}'
  recorded_at: Tue, 13 Jan 2015 04:07:01 GMT
recorded_with: VCR 2.9.3
