<div class="Hero">
  <div class="Hero-header">
    Check in Automatically.
  </div>

  <div class="Hero-sub">
    <p>
      Don't get stuck in Group C ever again. <a class="bold" href='/'>chkmein</a> will check you in exactly 24 hours before your flight.
    </p>
    <p>
      It's that simple.
    </p>
  </div>

  <div class="Hero-add-reservation">
    <a class='HeroButtonLink' href="#">Add a Reservation</a>
    <a class="HeroLink Hero-login" href='#'>Login</a>
  </div>
</div>

<div class="Features Columns Columns--three">
  <div class="Column"></div>
  <div class="Column"></div>
  <div class="Column"></div>
</div>
