<div class="Hero">
  <div class="Hero-content">
    <div class="Hero-header">
      Check in Automatically.
    </div>

    <div class="Hero-sub">
      <p>
        Don't get stuck in Group C ever again. Add a reservation to get checked in exactly 24 hours before your Southwest flight.
      </p>
    </div>

    <div class="Hero-add-reservation">
      <%= link_to 'Add a Reservation', new_reservation_path, class: 'HeroButtonLink' %>
      <%= link_to 'Login', new_user_session_path, class: 'HeroLink Hero-Login' %>
    </div>
  </div>
  </div>

<div class="Features Columns Columns--three">
  <div class="Column"></div>
  <div class="Column"></div>
  <div class="Column"></div>
</div>
