<div class="StaticContainer">  
  <div class="Static">
    <h1>Privacy Policy</h1>
    <p>
      This policy applies to all information collected or submitted on the <a href="https://chkmein.co">chkmein.co</a> online service (the "Service").
    </p>
    <h2>Information we collect</h2>
    <p>
      When creating an account, you will be asked to enter an email and password. This is used for:

      <ul>
        <li>Logging in.</li>
        <li>Resetting your password.</li>
        <li>Sending emails related to site activity, including checkins and other related activity.</li>
      </ul>
    </p>
    <p>
      We also store information related to reservations that you add into the system. This is necessary in order to provide the Service.
    </p>
    <h2>Information Usage</h2>
    <p>
      We use the information that we collect to operate and improve the Service.
    </p>
    <p>
      We do not share your personal information with outside parties except for the extent that is necessary to operate the Service.
    </p>
    <p>
      When you add content to the service, including reservation information, you authorize and direct us to use and disclose the content as necessary to provide the Service. You are solely responsible for the reservation information and other content that you upload, publish or display (hereinafter, "post") on or through the Service. You may not post content on the Service that you do not have permission to post.
    </p>
    <h2>Accessing Your Information</h2>
    <p>
      You may access, change, or delete your account or individual reservations from the system at any time by logging in to the website.
    </p>
    <h2>Third-party links and content</h2>
    <p>
      The Service displays links and content from third-party providers, and may link to third-party content and files directly. These have their own independent privacy policies, and we have no responsibility or liability for their content or activities.
    </p>
    <p>Southwest® owns all copyrights, trademarks, service marks, and trade names related to Southwest.</p>
    <h2>Security</h2>
    <p>
      We implement a variety of security measures to help keep your information secure.
    </p>
    <p>
      For instance, all communication with the Service requires HTTPS. Communication to and from external services requires HTTPS. Passwords are not stored: they are hashed using advanced, well-researched methods.
    </p>
    <h2>Your Consent</h2>
    <p>
      By using the Service, you consent to our Privacy Policy.
    </p>
    <h2>Changes to this Policy</h2>
    <p>
      If we decide to change our privacy policy, we will post those changes on this page and update the Privacy Policy modification date below.
    </p>
    <p><strong>This policy was last modified on March 2, 2015.</strong></p>
  </div>
</div>
