{% extends "layout.html" %}
{% block title %}Southwest Checkin - Status{% endblock %}
{% block body %}
  <div class="text-centered">
    <div id="status">
      <h1 class="text-centered logo"><a href="/">Southwest Check In</a></h1>
      <div class="text-centered">
        <h2>Reservations</h2>
        <table><tbody>
          <th>Reservation</th>
          <th>Name</th>
          <th>Active</th>
          <th>Scheduled Checkins</th>
          <th>Task ID</th>
          {% for res in reservations|reverse %}
            <tr>
              <td><b><a href="/flights/{{res.code}}">{{res.code}}</a></b></td><td>{{res.first_name}} {{res.last_name}}</td>
              {% if res.active %}
                <td><span class="highlight">active</span></td>
                <td><ul>
                  {% for flight in res.flights %}
                    {% if flight.sched_time_local_formatted %}
                      <li>{{ flight.sched_time_local_formatted }}</li>
                    {% endif %}
                  {% endfor %}
                </ul></td>
                <td><ul>
                  {% for flight in res.flights %}
                    <li>
                      {% if flight.task_uuid %}
                        <a href="http://southwest-checkin-flower.herokuapp.com/task/{{flight.task_uuid}}">{{ flight.task_uuid }}</a><a href="/all/schedule/{{flight.id}}">Reschedule it</a>
                      {% else %}
                        <a href="/all/schedule/{{flight.id}}">Schedule it</a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul></td>
              {% else %}
                <td>not active</td><td></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody></table>
        <form action="{{ url_for('schedule_all_reservations') }}" method=get class=add-entry>
          <input class="btn btn-southwest" type=submit value="Schedule All Reservations">
        </form>
        <a href="http://southwest-checkin-flower.herokuapp.com/">Flower</a>
      </div>
    </div>
  </div>
{% endblock %}