{% extends "layout.html" %}
{% block title %}Southwest Checkin - Status{% endblock %}
{% block body %}
  <div class="text-centered">
    <div id="status">
      <h1 class="text-centered logo"><a href="/">Southwest Check In</a></h1>
      <div class="text-centered">
        <h2>Reservations</h2>
        <table><tbody>
          <th>Reservation</th><th>Name</th><th>Active</th><th>Scheduled Checkins</th>
          {% for res in reservations %}
            <tr>
              <td><b>{{res.code}}</b></td><td>{{res.first_name}} {{res.last_name}}</td>
              {% if res.active %}
                <td><span class="highlight">active</span></td>
                <td><ul>
                  {% for flight in res.flights %}
                    {% if flight.sched_time_local_formatted %}
                      <li>{{ flight.sched_time_local_formatted }}</li>
                    {% endif %}
                  {% endfor %}
                </ul></td>
              {% else %}
                <td>not active</td><td></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody></table>
      </div>
    </div>
  </div>
{% endblock %}