{% extends "layout.html" %}
{% block title %}Southwest Checkin{% endblock %}
{% block body %}
  <div>
    <h1 class="text-centered logo"><a href="/">Southwest Check In</a></h1>
    {% if form.errors %}
      <h2>Houston, we have a problem.</h2>
      <!-- http://wtforms.simplecodes.com/docs/1.0.2/crash_course.html#displaying-errors -->
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
          {% for error in field_errors %}
            <li style="color:red">{{ form[field_name].label }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
    <form action="{{ url_for('checkin') }}" method=post class=add-entry>
      <dl>
        <dt>{{ form.code.label }}
        <dd>{{ form.code }}
        <dt>{{ form.firstname.label }}
        <dd>{{ form.firstname }}
        <dt>{{ form.lastname.label }}
        <dd>{{ form.lastname }}
        <dt>{{ form.email.label }}
        <dd>{{ form.email }}       
        <dd id="submit-checkin"><input class="btn btn-southwest" type=submit value="Automate your checkin">
      </dl>
    </form>
    <div class="text-centered">
      <h5><a href="{{ url_for('search') }}">Already automated your checkin? Search Here.</a></h5>
    </div>
  </div>
{% endblock %}