{% extends "layout.html" %}
{% block title %}Southwest Checkin - Status{% endblock %}
{% block body %}
  <div class="text-centered">
    <div id="status">
      <h1 class="text-centered logo"><a href="/">Southwest Check In</a></h1>
      <div>
        <div>
          <h2 class="text-centered">
            Your first automatic checkins are at: 
            <span class="highlight">
              <ul>
                {% for flight in flights %}
                  {% if flight.sched_time_local_formatted %}
                    <li>{{ flight.sched_time_local_formatted }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </span>
          </h2>
        </div>
        <div><h3 class="text-centered">Confirmation Code: {{ res.code }}</h3></div>
        <div><h3 class="text-centered">Passenger Name: {{ res.first_name }} {{ res.last_name }}</h3></div>
        <ul class="flights">
          {% for flight in flights %}
            <li>Flight {{ loop.index }}:
              <ul class="flight-legs">
                {% for leg in flight.legs %}
                  <li>Departs: {{ leg.depart.airport }} {{ leg.depart.dt_formatted }}</li>
                  <li>Arrives: {{ leg.arrive.airport }} {{ leg.arrive.dt_formatted }}</li>
                {% endfor %}
                {% if flight.success %}
                  <span style="color:green"><b>You've been checked into this flight at position {{ flight.position }}</b></span>
                {% else %}
                  {% if flight.sched_time_local_formatted %}
                  <li>
                    <b>Automatically checking you in at:</b> {{ flight.sched_time_local_formatted }}
                  </li>
                  {% endif %}
                {% endif %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="text-centered">
        <h5><a href="{{ url_for('search') }}">Search for a different checkin</a></h5>
      </div>
    </div>
  </div>
{% endblock %}