{% extends "layout.html" %}
{% block title %}Southwest Checkin - Status{% endblock %}
{% block body %}
  <div class="text-centered">
    <div id="status">
      <h1 class="text-centered logo"><a href="/">Southwest Check In</a></h1>
      <div>
        <div>
          <h2 class="text-centered">
            {% if res.active %}
              Your automatic checkins are at:
              <span class="highlight">
                <ul>
                  {% for flight in flights %}
                    {% if flight.sched_time_local_formatted %}
                      <li>{{ flight.sched_time_local_formatted }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </span>
            {% else %}
              <span class="highlight">All your flights have left!</span>
            {% endif %}
          </h2>
        </div>
        <div><strong>Confirmation Code: {{ res.code }}</strong></div>
        <div><strong>Passenger Name: {{ res.first_name }} {{ res.last_name }}</strong></div>
        <div><strong>Passenger Email: {{ res.email }}</strong></div>
        <ul class="flights">
          {% for flight in flights %}
            <li>
              <h2>
                  {% if flight.sched_time_local_formatted %}
                    Flights on {{ flight.sched_time_local_formatted.partition(' ')[2] }}
                  {% else %}
                    Other Flights
                  {% endif %}
              </h2>
              <ul class="flight-legs">
                {% for leg in flight.legs %}
                  <li>
                    Flight {{ leg.flight_number }}
                    <ul class="flight-legs">
                      <li>Departs: {{ leg.depart.airport }} {{ leg.depart.dt_formatted }}</li>
                      <li>Arrives: {{ leg.arrive.airport }} {{ leg.arrive.dt_formatted }}</li>
                    </ul>
                  </li>
                {% endfor %}
                {% if flight.success %}
                  <span style="color:green"><b>You've been checked into this flight at position {{ flight.position }}</b></span>
                {% else %}
                  {% if flight.sched_time_local_formatted %}
                  <li>
                    <h3>Automatically checking you in at: {{ flight.sched_time_local_formatted }}</h3>
                  </li>
                  {% endif %}
                {% endif %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div>
      <form action="{{ url_for('flight_delete', code=res.code) }}" method="POST">
          <input class="btn btn-southwest" type="submit" value="Remove automatic check in">
      </form>
    </div>
    {% include 'search_for_checkin_footer.html' %}
  </div>
{% endblock %}