/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require normalize
 */

@import 'variables';
@import 'utilities';
@import 'scaffolding';
@import 'media-queries';
@import 'typography';
@import 'icons';
@import 'grid';
@import 'buttons';
@import 'dropdown';
@import 'header';
@import 'footer';
@import 'notice';
@import 'forms';
@import 'tables';
@import 'pagination';
@import 'hero';
@import 'reservations';
@import 'static';

.Home {
  background-color: $madison;
}

body,
html {
  margin: 0;
  padding: 0;
}
