$Dropdown-arrow-size: 8px;

.Dropdown {
  position: relative;
  text-align: center;

  &.js-open .Dropdown-menu {
    display: block;
  }
}

.Dropdown-toggle {
  cursor: pointer;
  user-select: none;
}

.Dropdown-menu {
  position: absolute;
  z-index: $Dropdown-z-index;
  display: none;
  background-color: $Dropdown-bg-color;
  min-width: 100%;
  padding: 5px 0;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  font-size: 90%;

  ul {
    list-style: none;
    line-height: normal;
    margin: 0;
    padding: 0;
  }

  li {
    text-align: left;
    display: block;
    user-select: none;

    &:hover {
      background-color: lighten($madison, 60%);
    }
  }

  a {
    padding: 5px 10px;
    display: block;
    margin-left: 0;
    text-decoration: none;
  }

  &,
  & a {
    color: $text-color;
  }

  .Dropdown-sep {
    border-top: 1px solid rgba(44, 62, 80, 0.13);
    margin-top: 4px;
    padding-top: 8px;
  }
}

.Dropdown-menu-arrow {
  width: 0;
  height: 0;
  border-left: $Dropdown-arrow-size solid transparent;
  border-right: $Dropdown-arrow-size solid transparent;
  border-bottom: $Dropdown-arrow-size solid $Dropdown-bg-color;
  display: inline-block;
  position: absolute;
  z-index: $Dropdown-z-index;
  top: -($Dropdown-arrow-size);
  margin-left: -($Dropdown-arrow-size);
}

.Dropdown-toggle-down-arrow {
  margin-left: 4px;
}
