// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Form,
form {
  @extend %smaller-font-size;
  margin: 0 auto;
  padding-top: 45px;

  @include tablet-portrait-and-up {
    padding-top: 60px;
  }

  .field {
    height: $Form-height-mobile;
    line-height: $Form-height-mobile;

    @include tablet-portrait-and-up {
      height: $Form-height-desktop;
      line-height: $Form-height-desktop;
    }

    label, input {
      float: left;
    }

    label {
      @extend %medium;
      text-align: left;
      padding-right: 10px;
      width: 38%;
      white-space: nowrap;
      overflow: hidden;

      @include tablet-portrait-and-up {
        width: 35%;
      }
    }

    .field_with_errors input {
      line-height: $Form-height-mobile - 1px;
    }

    input {
      border: 0;
      padding: 0;
      height: 100%;
      width: 62%;
      -webkit-tap-highlight-color: rgba(0,0,0,0);

      &:focus {
        outline: none;
      }

      @include tablet-portrait-and-up {
        width: 65%;
      }
    }

    input[type="checkbox"] {
      margin: 10px $Form-margin;
      width: auto;
      height: auto;

      @include tablet-landscape-and-up {
        margin: 23px $Form-margin;
      }
    }

    &.long-label {
      input,
      label {
        width: 50%;
      }
    }

    // Make sure Rails-generated linebreaks are disabled
    br {
      display: none;
    }
  }

  .actions {
    margin-top: 20px;
    text-align: center;

    input[type="submit"] {
      @extend %BlueSubmitButton;
    }
  }
}

form,
.Form,
.FormLinks {
  @include tablet-portrait-and-up {
    width: 60%;
    max-width: 600px;
  }
}

.FieldGroup {
  border-top: 1px solid $Form-border-color;
  border-bottom: 1px solid $Form-border-color;

  @include tablet-portrait-and-up {
    border: 1px solid $Form-border-color;
    border-radius: 6px;
  }

  .field {
    margin-left: $Form-margin;
    border-bottom: 1px solid $Form-border-color;

    @include tablet-portrait-and-up {
      margin-left: 0;
      padding: 0 $Form-margin;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.FieldGroupTitle {
  @extend %smallest-font-size;
  @extend %medium;
  margin-left: $Form-margin;
  margin-bottom: 5px;
  color: $muted-text-color-mobile;
  text-transform: uppercase;
  font-size: 13px;

  @include tablet-portrait-and-up {
    font-family: 'Cooper Hewitt Book';
    margin: $Form-margin*2 0 $Form-margin $Form-margin;
    color: $text-color;
  }
}

.FieldGroupNote {
  @extend %smallest-font-size;
  margin: $Form-margin/2 0 $Form-margin $Form-margin;
}

.FormLink {
  @extend %smallest-font-size;
  margin-left: $Form-margin;
}

.FormLinks {
  margin: $Form-margin auto 0;
}

#error_explanation {
  margin: 0 $Form-margin;

  h2 {
    @extend %smaller-font-size;
  }

  ul {
    @extend %smallest-font-size;
  }
}
