// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Form,
form {
  margin: 0 auto;
  padding-top: 30px;

  .field,
  input {
    @extend %default-font-size;
  }

  .field {
    height: $Form-height-mobile;
    font-size: 16px;
    line-height: $Form-height-mobile;

    label, input {
      float: left;
    }

    label {
      @extend %medium;
      text-align: left;
      padding-right: 10px;
      width: 35%;
      white-space: nowrap;
      overflow: hidden;
    }

    input {
      font-size: 16px;
      border: 0;
      padding: 0;
      height: 100%;
      width: 65%;
      -webkit-tap-highlight-color: rgba(0,0,0,0);

      &:focus {
        outline: none;
      }
    }

    input[type="checkbox"] {
      margin: 10px $Form-margin;
      width: auto;
      height: auto;
    }

    &.long-label {
      label {
        width: 45%;
      }

      input {
        width: 55%;
      }
    }

    // Make sure Rails-generated linebreaks are disabled
    br {
      display: none;
    }
  }

  .actions {
    margin-top: 20px;
    text-align: center;

    input[type="submit"] {
      @extend %BlueSubmitButton;
    }
  }
}

.FieldGroup {
  border-top: 1px solid $Form-border-color;
  border-bottom: 1px solid $Form-border-color;

  .field {
    margin-left: $Form-margin;
    border-bottom: 1px solid $Form-border-color;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.FieldGroupTitle {
  @extend %medium;
  margin-left: $Form-margin;
  margin-bottom: 5px;
  color: $muted-text-color;
  text-transform: uppercase;
  font-size: 13px;
}

.FieldGroupNote {
  @extend %smallest-font-size;
  margin: $Form-margin/2 0 0 $Form-margin;
}

.FormLink {
  @extend %smaller-font-size;
  margin-left: $Form-margin;
}

.FormLinks {
  margin-top: $Form-margin;
}
