.Header {
  position: fixed;
  top: 0;
  background: $madison;
  width: 100%;
  height: $Header-height-mobile;
  line-height: $Header-height-mobile;
  padding-left: $Header-padding-mobile;

  @include tablet-landscape-and-up {
    height: $Header-height-desktop;
    line-height: $Header-height-desktop;
    padding-left: $Header-padding-desktop;
    text-align: center;
    padding-left: 0;
  }
}

.Body {
  position: relative;
  margin-top: $Header-height-mobile;

  @include tablet-landscape-and-up {
    margin-top: $Header-height-desktop;
  }
}

.Header-logo-img {
  margin-top: ($Header-height-mobile - $Header-logo-height-mobile) / 2;
  height: $Header-logo-height-phone;

  @include tablet-portrait-and-up {
    height: $Header-logo-height-mobile;
  }

  @include tablet-landscape-and-up {
    margin-top: ($Header-height-desktop - $Header-logo-height-desktop) / 2;
    height: $Header-logo-height-desktop;
  }
}

.Header-actions {
  position: absolute;
  right: $Header-padding-mobile;

  @include tablet-landscape-and-up {
    right: $Header-padding-desktop;
  }
}

.Header-login {
  color: $athens-gray;
  margin-left: 10px;

  @include tablet-landscape-and-up {
    margin-left: 20px;
  }
}
