.Hero {
  text-align: center;
  color: $Hero-color;
  background-color: $Hero-bg;
  padding: $Hero-padding-mobile 20px $Hero-padding-mobile;

  @include tablet-landscape-and-up {
    padding: $Hero-padding-desktop 20px $Hero-padding-desktop;
  }

  @include iphone4s-and-below {
    padding: $Hero-padding-iphone4s 20px $Hero-padding-iphone4s;
  }
}

.Hero-header {
  font-family: 'Cooper Hewitt Thin';
  font-size: $Hero-heading-font-size-mobile;
  margin-bottom: $Hero-element-margin-mobile;
  text-shadow: 1px 1px 2px rgba(0,0,0,.2);

  @include tablet-landscape-and-up {
    font-size: $Hero-heading-font-size-desktop;
    margin-bottom: $Hero-element-margin-desktop;
  }

  @include iphone4s-and-below {
    margin-bottom: $Hero-element-margin-iphone4s;
  }
}

.Hero-sub {
  font-family: 'Cooper Hewitt Light';
  color: darken($Hero-color, 15%);
  max-width: 380px;
  margin: 0 auto;
}

.Hero-add-reservation {
  margin-top: $Hero-element-margin-mobile;

  @include tablet-landscape-and-up {
    margin-top: $Hero-element-margin-desktop;
  }

  @include iphone4s-and-below {
    margin-top: $Hero-element-margin-iphone4s;
  }
}

.Hero-login {
  margin-left: 10px;
}
