.StaticContainer {
  background-color: $madison;
}

.Static {
  color: $light-text-color;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 10px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}
