.u-text-padded,
%u-text-padded {
  margin: 0 5px;
}

.u-text-padded-right,
%u-text-padded-right {
  margin-right: 5px;
}

.u-text-padded-left,
%u-text-padded-left {
  margin-left: 5px;
}

.u-text-right {
  text-align: right !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-center {
  text-align: center !important;
}
